@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

/*css variables*/
:root {
	--first-color: #272a3a;
	--first-color-light: #8a8eaa;
	--first-color-lighten: #f8f8fc;

	--body-font: 'Ubuntu', sans-serif;
	--normal-font-size: 1rem;
	--smaller-font-size: 0.813rem;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--body-font);
	background-color: var(--first-color-lighten);
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*drag & drop*/
.drop__text {
	margin-right: 15px;
}

.drop,
.drop__container {
	display: grid;
}
.drop {
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.drop__container {
	row-gap: 1rem;
	padding: 2rem;
	box-shadow: 4px 4px 16px #e1e1e1;
}
.drop__card,
.drop__data {
	display: flex;
	align-items: center;
}
.drop__data {
	display: contents;
}
.drop__card {
	width: 400px;
	justify-content: space-around;
	padding: 0.75rem 1.25rem 0.75rem 0.75rem;
	background-color: var(--first-color-lighten);
	box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff;
	border-radius: 2.5rem;
}
img.drop__img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}
.drop__img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 1.2rem;
}
.drop__name {
	font-size: var(--normal-font-size);
	color: var(--first-color);
	font-weight: 500;
}
.drop__profession {
	font-size: var(--smaller-font-size);
	color: var(--first-color);
}
.drop__social {
	margin: 0 0.375rem;
	color: var(--first-color-light);
	transition: 0.4s;
}
.drop__social:hover {
	color: var(--first-color);
}

.highlight-drop {
	border: 1.5px solid #6effad;
}
